Markdown은 코드가 아닌 글을 쓰는 곳입니다.
Run을 하면 디자인이 입혀집니다.

## 제목 heading

<img src="aa.png" />

# zzzz
## zzz
### zzzz
#### zzz
##### zzz
###### ddd
$e^{i\pi} + 1 = 0$
$$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$$

| This | is   |
|------|------|
|   a  | table|

<video controls src="https://youtu.be/Bk2WavpCbc4" />

In [11]:
a = [1,2,3,4,5]

In [24]:
a.append(6) # shift + tab 함수 설명

In [25]:
a

[1, 2, 3, 4, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]

In [42]:
a?

In [63]:
x = 10000
i = 1
while(2**i < x): # True 면 실행
    i+=1  
print(i)

i, 2**i

14

(14, 16384)

In [64]:
#dictionary {키:값, 키:값...}
b = {'age':20, 'city':'Seoul'}

In [68]:
b['age'] += 10
b['age']

60

In [69]:
b['part'] = '개발부'
b

{'age': 60, 'city': 'Seoul', 'part': '개발부'}

In [74]:
del b['age']

KeyError: 'age'

In [75]:
b

{'city': 'Seoul', 'part': '개발부'}

In [77]:
#2차원 표 데이터(panal)에서 컬럼명이 키이고 값들이 value가 됩니다.
#2차원 데이터 하나는 dictionary 로 저장 됩니다.
#서울 100년간 온도 데이터에서 날짜 최저기온 최고기온 들이 key 가 됩니다.
b.keys()

dict_keys(['city', 'part'])

In [78]:
b.values()

dict_values(['Seoul', '개발부'])